.layout-header {
    padding: 20px;
}

.workspace {
    width: 70%;
}

.default-position {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.droppable {
    margin: 20px;
    border: 1px solid #ccc;
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(0deg, #F4F4F4, #F2F2F2 1px, transparent 1px, transparent 40px), repeating-linear-gradient(-90deg, #F2F2F2, #F2F2F2 1px, transparent 1px, transparent 40px);
}

.highlight {
    border: 1px solid red;
    font-weight: bold;
    font-size: 45px;
    background-color: #333333;
}

.draggables {}

.basicUnit {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
}

.contentHoverClass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(40, 147, 179);
}

.workspace-baseUnit:hover .contentHoverClass {
    display: block !important;
}

.droppableHover {
    box-shadow: 0 0 11px black inset !important;
    cursor: cell;
    /*background-color: rgb(242, 242, 242) !important;*/
}

#layoutConfig {
    padding: 10px;
}


/*For line suport*/

#vLine {
    width: 1px;
    height: 100%;
}

#hLine {
    width: 100%;
    height: 1px;
}

#heMidLine {
    width: 100%;
    height: 1px;
    background: #777777 !important;
}

#veMidLine {
    width: 1px;
    height: 100%;
    background: #777777 !important;
}

#vLineBase {
    width: 1px;
    height: 100%;
    /*background: #FF8904 !important;*/
}

#hLineBase {
    width: 100%;
    height: 1px;
    /*background: #FF8904 !important;*/
}

#hMidLine,
#vMidLine,
#vLineBase,
#hLineBase,
#heMidLine,
#veMidLine,
#hLine,
#vLine {
    z-index: 8000;
    background: #ff88f9;
    display: none;
    top: 0;
    left: 0;
}


/*Resize handlers*/

.ui-resize-y-b {
    cursor: row-resize;
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    bottom: -5px;
}

.ui-resize-y-t {
    cursor: row-resize;
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: -5px;
}

.ui-resize-x-r {
    cursor: col-resize;
    position: absolute;
    width: 7px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    right: -2px;
    top: 0;
}

.ui-resize-x-l {
    cursor: col-resize;
    position: absolute;
    width: 7px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    left: -2px;
    top: 0;
}
