.flexDisplay {
    display: flex;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.reset-margin {
    margin: 0;
}

.flex-stretch {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.display-inline {
	display: inline-block;
}

.justify-content-space {
	justify-content: space-between;
}

.base-color {
	color: #fff;
}