<div class="flexDisplay full-height flex-column">
    <header>
        <div class="bg-primary layout-header flexDisplay justify-content-space">
            <h4 class="reset-margin "> Moqup</h4>
            <a class="justify-content-space base-color signout" ng-click="signout()">Signout</a>
        </div>
    </header>
    <div class="flexDisplay flex-stretch base-background">
        <div class="workspace position-relative ">
            <div class="droppable default-position position-absolute">
            </div>
        </div>
        <div class="sideBar flex-stretch">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#draggable">Blocks</a></li>
                    <li><a data-toggle="tab" data-target="#layoutConfig">Customize</a></li>
                </ul>
                <div class="tab-content">
                    <div id="draggable" class="tab-pane fade in active">
                     
                    </div>
                    <div id="layoutConfig" class="tab-pane fade">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
